.in-menu-top-left a {
	display: inline-block;
	padding: 1em;
	text-decoration: none;
	color: #000;
	box-sizing: border-box;
	border-bottom: 3px solid transparent;
	-webkit-transition: all .6s ease;
	-moz-transition: all .6s ease;
	-ms-transition: all .6s ease;
	-o-transition: all .6s ease;
	transition: all .6s ease
}

.in-menu-top-left a:focus {
	border-bottom: 3px solid #000
}

.in-menu-top-left a:hover {
	color: rgba(0,0,0,0.63);
	border-bottom: 3px solid #000
}

.in-menu-top-left p {
	display: inline-block;
	cursor: pointer
}

.in-menu-top-left p:hover {
	color: rgba(0,0,0,0.63)
}

.in-container {
	margin-top: 2em
}

.in-container-top {
	padding: .4em .3em;
	font-size: 13px
}

.in-container-top i {
	font-size: 17px
}

.in-container-top a {
	display: inline-block;
	margin: 0;
	margin-right: 2em;
	color: rgba(0,0,0,0.63);
	text-decoration: none
}
.ab-left{
  padding: 0 !important;
}
.in-container-bootem {
	margin-bottom: 1em
}

.in-container-text {
	padding: .4em .3em;
	font-size: 13px
}

.in-container-text * {
	margin: 0;
	padding: 0
}

.in-container-about img {
	width: 30px;
	height: 30px;
	margin-right: .3em
}

.in-container-about {
	display: flex;
	line-height: 30px;
	font-size: 14px;
	color: #000;
	margin-right: 2em;
	margin-left: 1em;
	margin-bottom: .4em
}

.in-container-about b {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.in-container-time {
	padding-right: 2em;
	line-height: 30px
}

.in-conntainer-title {
	margin: 1em;
	margin-right: 2em;
	display: block;
	text-indent: 2em
}

.in-conntainer-title a {
	text-decoration: none;
	color: rgba(0,0,0,0.63)
}

.in-conntainer-title img {
	width: 30%;
	display: block;
	margin: 1em 0
}

.in-conntainer-font {
	margin: .5em 1em
}

.in-conntainer-font p {
	display: inline-block;
	cursor: pointer
}

.in-conntainer-font p i {
	font-size: 17px
}

.in-conntainer-font a {
	color: rgba(0,0,0,0.63);
	margin: 0 2px
}

.in-conntainer-font p span {
	display: inline-block;
	padding: 2px;
	background: #f5f5f5
}

.in-about * {
	margin: 0;
	padding: 0
}

.in-about-close {
	display: inline-block;
	font-size: 18px
}

.in-about-ang {
	display: flex;
	margin: 2.5em 1em;
	align-items: center
}

.in-about-ang-img img {
	display: block;
	width: 50px;
	height: 50px
}

.in-about-ang-tit {
	margin-left: .8em
}

.in-about-ang-tit h4 {
	color: #000
}

.in-about-ang-tit span {
	font-size: 12px
}

.in-about-sosy {
	background: rgba(0,0,0,.14);
	display: flex;
	align-items: center;
	padding: .3em .5em;
	border-radius: 500px
}

.in-about-sosy input {
	border: 0;
	outline: 0;
	background: 0
}

.in-about-sosy button {
	border: 0;
	background: 0;
	color: rgba(0,0,0,0.63)
}

.in-about-tj {
	margin: 1em 0;
	text-align: center
}

.in-about-tj p {
	font-size: 20px;
	line-height: 20px;
	display: inline-block;
	padding: 0 .7em;
	border-right: 1px solid #e1e8ed
}

.in-about-tj p span {
	display: block;
	font-size: 14px
}

.in-about-tj-this {
	border-right: none!important
}

.cn-container-title {
	display: block;
	text-align: left
}

.cn-coa {
	font-size: 13px;
	cursor: pointer;
	display: block
}

.cn-coa a {
	color: rgba(0,0,0,.54)!important;
	text-decoration: none
}

.cn-container-title h2 {
	color: #000
}

.cn-time {
	padding-left: 1em;
	margin: 0
}

.cn-container * {
	padding: 0;
	margin: 0
}

.cn-container {
	margin-top: 1em;
	padding-left: 1em;
	text-align: left;
	color: #000;
	word-wrap: break-word;
	word-break: break-all;
	display: block;
/* overflow:hidden */
}

.cn-container img {
	width: 70%;
/* padding:0 15%; */
	display: block;
	margin: 1.5em 0;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,.12);
}

.in-cntainer-top-a {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 30%
}

.cn-title {
	padding: 0;
	padding: 1em;
	float: none;
}

.cn-container pre {
	margin: 1em!important
}

.cn-container pre>code {
	padding: 1em!important;
	border-radius: 5px
}

.cn {
	margin-bottom: 1em
}

.cn-container h2 {
	font-size: 19px;
	font-weight: 500;
	margin: .7em 0;
}

.cn-container h2:before {
	content: '#';
	color: rgba(1,37,20,0.53);
	margin-right: 5px
}

.cn-container h1 {
	font-size: 19px;
	font-weight: 500;
	margin: .5em 0
}

.cn-container h1:before {
	content: '';
	border-radius: 33%;
	background: rgba(0,0,0,0.51);
	width: 10px;
	height: 10px;
	display: inline-block;
	margin: 0 8px 3px 0
}

.cn-container h3 {
	font-size: 19px;
	font-weight: 500;
	margin: .5em 0
}

.cn-container h3:before {
	content: '';
	border-radius: 100%;
	border: 2px solid #222323;
	display: inline-block;
	width: 5px;
	height: 5px;
	margin: 0 8px 1px 0;
	background-color: rgba(0,0,0,.2)
}

.cn-container ol {
	padding-left: 2.5em
}

.cn-container ol>li {
	padding: .2em 0
}

.cn-container {
	font-size: 14px;
	letter-spacing: 1px;
	padding-bottom: 2em
}

.cn-container blockquote {
	border-left: 3px solid rgba(0,0,0,.8);
	font-weight: 400;
	letter-spacing: .01rem;
	margin: 30px 0;
	padding-left: 10px
}

.cn-container ul>li {
	list-style: none
}

.cn-container ul>li::before {
	content: '-';
	font-weight: 600;
	font-size: 20px;
	color: rgba(1,37,20,0.53);
	margin-right: 5px
}

.cn-container a {
	color: #e91e63;
	text-decoration: none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease
}

.cn-container a:hover {
}

.in-footer {
	margin-bottom: 0;
	background: #fff;
	padding: 1em 0;
	text-align: center;
	font-size: 12px;
	color: rgba(0,0,0,.54);
	margin-top: 1em
}

.in-footer * {
	margin: 0;
	padding: 0
}

.in-footer a {
	color: rgba(0,0,0,.54);
	text-decoration: none
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px
}

::-webkit-scrollbar-track {
	border-radius: 3px;
	background: rgba(0,0,0,0.06);
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.08)
}

::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background: rgba(0,0,0,0.12);
	-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2)
}

.com-cn {
	list-style: none;
	padding: 1em;
	padding-bottom: 0;
	margin-bottom: 1em;
}

.comment-author img {
	border-radius: 50%
}

.comment-list {
	padding: 0;
	margin: 0
}

.com-cn a {
	color: #000;
	text-decoration: none
}

.comment-author {
	display: flex;
	align-items: center
}

.comment-about {
	padding-left: 1em
}

.author-after-text {
	display: inline-block;
	padding: .3em .4em;
	font-size: 8px;
	font-style: normal;
	background: #000;
	color: #fff;
	border-radius: 3px
}

.fn {
	font-size: 16px;
	display: flex;
	align-items: center;
	font-style: normal
}

.fn a {
	font-size: 16px;
	padding-right: .5em
}

a {
	font-style: normal
}

.com-time {
	font-size: 12px
}

.comments-connt {
	padding-left: 1em
}

.comments-connt a {
	color: #e91e63
}

.comments-connt p {
	display: inline-block
}

.commtent-right-s {
	margin-left: 3em
}

.textarea {
	width: 100%;
	box-sizing: border-box;
	resize: none;
	border: 0;
	outline: 0;
	padding: 1em;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	box-sizing: border-box;
	margin-bottom: 1em;
}

.textarea:focus {
	border-color: #000
}

.text:focus {
	border-color: #000
}

.text {
	border: 0;
	box-sizing: border-box;
	outline: 0;
	border: 1px dashed rgba(0,0,0,.14);
	border-top: 0;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	padding: 0.3em;
	font-size: 12px;
	transition: all .3s ease;
}

.com-submit {
	display: block;
	margin: .5em 0;
	text-align: right
}

.com-submit input {
	background: 0;
	border: #000 solid 1px;
	border-radius: 9px 9px 0 9px;
	outline: 0;
	margin-left: auto;
}

.cancel-comment-reply {
	display: inline-block;
	margin-right: 1em
}

.cancel-comment-reply a {
	color: rgba(0,0,0,.54)
}

.page-navigator {
	margin: 20px 0;
	padding: 0 10px;
	list-style: none;
	text-align: center
}

.page-navigator li {
	display: inline-block;
	margin: .3em
}

.page-navigator li>a {
	color: rgba(0,0,0,.54);
	text-decoration: none;
	padding: .3em .6em;
	background: #fff
}

.page-navigator li>a:focus {
	border-radius: 50px
}

.cn-footer {
	text-align: center;
	margin-top: 3em
}

.cn-ont {
	font-size: 12px;
	padding: 1em 0
}

.cn-ont p {
	margin: .4em 0
}

.search {
	display: flex;
	margin: 1em 0;
	border-radius: 10px
}

.search input {
	display: inline-block
}

.search-a {
	border: 0;
	width: 100%;
	padding: .5em;
	background: 0;
	border: 1px dashed rgba(0,0,0,.14)
}

.submit-a {
	border: 0;
	background: 0;
	cursor: pointer;
	border: 1px dashed rgba(0,0,0,.14);
	border-left: none;
	padding: 0 .5em;
	outline: 0;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease
}

.search-a:focus {
	border: 1px dashed #000;
	border-radius: 10px 0 0 10px
}

.submit-a:hover {
	background: #222323;
	color: #fff
}

.in-title {
	padding: .5em .3em
}

.in-hot {
	list-style: none;
	padding: .5em;
	padding-top: 0
}

.in-hot li {
	padding: .1em 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.in-hot li:before {
	content: '#';
	color: rgba(1,37,20,0.53);
	margin-right: 5px
}

.in-hot li a {
	text-decoration: none;
	color: rgba(0,0,0,.54);
	-webkit-transition: all .6s ease;
	-moz-transition: all .6s ease;
	-ms-transition: all .6s ease;
	-o-transition: all .6s ease;
	transition: all .6s ease
}

.in-hot li a:hover {
	color: #000
}

.in-void {
	width: 100%;
	box-sizing: border-box;
	text-align: center
}

.ti-link {
	padding: 1em
}
.ab-con {
	padding: 1em
}

.ab-con h2 {
	color: #000
}

.ab-container a {
	text-decoration: none
}
.in-commentang {
	display: none;
	margin-bottom: 1em
}

.top-login {
	width: 100%;
	text-align: center
}

.top-login h3 {
	text-align: center;
	display: block
}

.top-login input {
	display: block;
	width: 180px;
	margin: .4em auto;
	outline: 0;
	border: 0;
	background: #e1e8ed;
	padding: .5em .3em
}

.top-login p {
	display: block
}

.top-login button {
	border: 0;
	color: #fff;
	outline: 0;
	width: 180px;
	height: 30px;
	box-sizing: border-box;
	background: #000
}

.cn-container video {
	width: 100%;
	margin: 1em 0
}

.in-a {
	color: #000;
	text-decoration: none
}
.in-conntainer-com{
    margin-top: 1em;
    display: none;
}
.cn-container strong{
  margin: 0.1em 0;
  display: inline-block;
}
.reply2view {
    background:#f8f8f8;
    padding:10px 10px 10px 40px;
    position:relative
}
.cn-container hr{
    margin:2em;
      height: 1px;
    background: rgba(0,0,0,.12);
    border: none;
}
.links-l li a:hover{
  box-shadow:none;
}
.tags-list{
  list-style:none;
  padding-left: 0;
}
.tags-list li{
   display: inline-block;
   margin: 0.3em 0.1em;
}
.tags-list li a{
  padding: 2px 5px;
  background: #f9ecec;
  color:#ff0000;
  font-size: 14px;

}
.yanz,.yanz p{
  display: inline-block;
}
.y-nu{
  width: 2.5em;
  border: none;
  text-align: center;
  border-bottom: 2px dashed rgba(0,0,0,0.36);
  outline: 0;
  line-height: 1;
}
.top-us img{
  width: 40px;
  height: 40px;
}
.top-us{
  display: flex;
  align-items: center;
  padding: 0 2em;
}
.top-us h4{
  padding-left: 0.5em;
  font-size: 16px;
}
.top-us h4>a{
  font-size: 12px;
  display: block;
  padding: 0;
  margin: 0;
  border: none;
  color: blue;
  
}
.top-us h4>a:hover{
  border: none;
}
.top-about{
  background:#fff url('https://cdn.peela.cn/image/png186.png') no-repeat;
  background-size: 219%;
}
.top-zz{
  padding-left: 2em;
}
.top-zz p{
  display: block;
}
.ab-container h2{
  font-size: 14px;
  font-weight: 400;
  margin: .7em 0;
}
.ab-container h2::before{
    content: '#';
    color: rgba(1,37,20,0.53);
    margin-right: 5px;
}
.al_mon_list,.al_mon_list ul{
  padding: 0;
  list-style: none;
}
.al_memm{
  display: block;
}
.ab-img{
  width: 100%;
  height: 120px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 20px;
  filter: grayscale(100%);
}
.links-a{
	width: 100%;
}
.links-a div{
	display: inline-block;
}
.in-conntainer-img img{
	display: inline-block !important;
	margin-right: 0.5em;
    box-sizing: border-box;
    transition: all .5s;
    -webkit-transition: all .5s; /* Safari */
}
.in-conntainer-img img:hover{
	cursor: pointer;
	transform: scale(1.1);
    -ms-transform:scale(1.1);     /* IE 9 */
    -moz-transform:scale(1.1);     /* Firefox */
    -webkit-transform:scale(1.1); /* Safari å’Œ Chrome */
    -o-transform:scale(1.1);
}